<div id="cookie-notice">
    <div class="cookie-notice-inner">
        <span class="cookie-notice-description">We would like to use third party cookies to improve the functionality of this website.</span>
        <div class="cookie-consent-banner-actions">
            <a id="cookie-notice-accept" class="btn btn-success btn-sm" role="button" aria-label="Approve cookies and close banner">Approve</a>
            <a href="/privacypolicy" class="btn btn-secondary btn-sm privacy-policy-button">Our privacy policy</a>
        </div>
    </div>
</div>
<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    if (readCookie('cookie-notice-dismissed') == 'true') {
        {% include google-tag.js %}
        document.getElementById('cookie-notice').style.display = 'none';
    } else {
        document.getElementById('cookie-notice').style.display = 'block';
    }

    document.getElementById('cookie-notice-accept').addEventListener("click", function () {
        createCookie('cookie-notice-dismissed', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        {% include google-tag.js %}
        location.reload();
    });
</script>
